<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs', { title }) %>
    </head>
    <body>
        <div class="d-flex">
            <%- include('./partials/sidebar.ejs') %>
            <main class="d-flex flex-column align-items-center" style="width: 100%">
                <h1 class="fw-bold my-3"><%= title %></h1>
                <div class="table-container" style="width: 80%">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary mb-3" data-bs-toggle="modal" data-bs-target="#addBook">
                        <i class="fs-5 bi bi-plus"></i>
                    </button>

                    <div class="col-auto col-lg-12 mt-2">
                        <% if(alert.message != "") { %>
                            <div class="alert alert-<%= alert.status %>" role="alert">
                                <%= alert.message %>
                            </div>
                        <% } %>
                    </div>
                        <!-- Table of data -->
                    <div class="col-auto col-lg-12 mt-2"><%- include('table.ejs') %></div>
                </div>
            </main>
        </div>
        <%- include('./addBook.ejs') %>
        <%- include('./editBook.ejs') %>
        <%- include('./partials/js.ejs') %>

        <script>
            $("#dataTable").on("click", ".button-update", function () {
             
              let id = $(this).data("id");
              let title = $(this).data("title");
              let author = $(this).data("author");
              let publisher = $(this).data("publisher");
              let publicationYear = $(this).data("publicationYear");
              let genre = $(this).data("genre");
              let price = $(this).data("price");

              $("#editBook").modal("show");

              $(".id").val(id);
              $(".title").val(title);
              $(".author").val(author);
              $(".publisher").val(publisher);
              $(".publicationYear").val(publicationYear);
              $(".genre").val(genre);
              $(".price").val(price);
            });
          </script>
    </body>
</html>
