<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs', { title }) %>
    </head>
    <body>
        <div class="d-flex">
            <%- include('./partials/sidebar.ejs') %>
            <main class="d-flex flex-column align-items-center" style="width: 100%">
                <h1 class="fw-bold my-3"><%= title %></h1>
                <div class="table-container" style="width: 80%">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary mb-3" data-bs-toggle="modal" data-bs-target="#addBook">
                        <i class="fs-5 bi bi-plus"></i>
                    </button>

                    <div class="col-auto col-lg-12 mt-2">
                        <% if(alert.message != "") { %>
                            <div class="alert alert-<%= alert.status %>" role="alert">
                                <%= alert.message %>
                            </div>
                        <% } %>
                    </div>
                        <!-- Table of data -->
                    <table class="table table-bordered" style="vertical-align: middle">
                        <thead>
                            <tr class="text-center">
                                <th>No</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Publisher</th>
                                <th>Publication Year</th>
                                <th>Genre</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < books.length; i++){ %>
                                <tr>
                                  <td><%= i +1 %></td>
                                  <td><%= books[i].title %></td>
                                  <td><%= books[i].author %></td>
                                  <td><%= books[i].publisher %></td>
                                  <td><%= books[i].publicationYear %></td>
                                  <td><%= books[i].genre%></td>
                                  <td><%= books[i].price %></td>
                                  <td class="text-center">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">
                                      Delete
                                    </button>
                                  </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
        <%- include('./addBook.ejs') %>
        <%- include('./partials/js.ejs') %>
    </body>
</html>
