<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', { title }) %>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="d-flex">
      <%- include('./partials/sidebar.ejs', {userType}) %>
      <main class="d-flex flex-column align-items-center" style="width: 100%">
        <h1 class="fw-bold my-3"><%= title %></h1>
        <div class="table-container" style="width: 80%">
          <!-- Alert -->
          <div class="col-auto col-lg-12 mt-2">
            <% if (typeof alertMessage !== 'undefined' && typeof alertStatus !== 'undefined') { %>
              <div class="alert alert-<%= alertStatus %>">
                  <%= alertMessage %>
              </div>
          <% } %>
          </div>

          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-outline-primary btn-sm"
            data-toggle="modal"
            data-target="#add-modal"
            style="margin-bottom: 5px"
          >
            <i class="fs-5 bi bi-plus"></i>
          </button>
          <!-- Table of data -->
          <table
            class="table table-bordered "
            style="vertical-align: middle"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead class="table-dark">
              <tr class="text-center">
                <th>No</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Status</th>
                <th>Type</th>
                <th>Username</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i = 0; i < users.length; i++){ %>
              <tr>
                <td class="text-center"><%= i +1 %></td>
                <td><%= users[i].name %></td>
                <td><%= users[i].address %></td>
                <td><%= users[i].phone %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].isActive%></td>
                <td><%= users[i].userType %></td>
                <td><%= users[i].username%></td>
                <!-- <td><%= users[i].password %></td> -->
                <td class="text-center">
                  <!-- EDIT BOOK -->
                  <button
                    type="button"
                    class="btn btn-outline-warning btn-sm button-update"
                    data-bs-toggle="modal"
                    data-bs-target="#edit-modal-<%= users[i]._id %>"
                  >
                    Edit
                  </button>
                  <%- include('./users/editUser.ejs', { user: users[i]}) %>

                  <!-- DELETE BOOK -->
                  <form
                    action="/users/<%= users[i]._id %>?_method=DELETE"
                    method="POST"
                  >
                    <button
                      type="submit"
                      class="btn btn-outline-danger btn-sm"
                      onclick="return confirm('Apa kamu yakin menghapus user ini?');"
                    >
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </main>
    </div>
    <!-- ADD BOOK -->
    <%- include('./users/addUser.ejs') %> <%- include('./partials/js.ejs') %>
  </body>
</html>
