<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', { title }) %>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="d-flex">
      <%- include('../partials/sidebar.ejs', { userType }) %>
      <main class="d-flex flex-column align-items-center" style="width: 100%">
        <h1 class="fw-bold my-3"><%= title %></h1>
        <div class="table-container" style="width: 80%">
          <!-- Alert -->
          <div class="col-auto col-lg-12 mt-2">
            <% if (typeof alertMessage !== 'undefined' && typeof alertStatus !==
            'undefined') { %>
            <div class="alert alert-<%= alertStatus %>">
              <%= alertMessage %>
            </div>
            <% } %>
          </div>

          <!-- Search Bar -->
          <div class="input-group mb-0 justify-content-between">
            <section class="my-2 mr-auto">
              <h5
                class="bg-secondary px-1 py-1 d-inline-block rounded text-white text-2xs"
              >
                Result: <%= users.length %>
              </h5>
            </section>
            <form id="filterForm" action="/report/users" method="post">
              <div class="input-group mx-2 mr-auto">
                <input
                  type="search"
                  name="search"
                  class="form-control rounded-start"
                  style="width: 300px"
                  placeholder="Search name in here..."
                />
                <div class="input-group-append mr-1">
                  <button type="submit" class="btn btn-secondary">
                    <i class="fa fa-search mr-auto"></i> Search
                  </button>
                </div>
              </div>
              <div
                class="modal fade"
                id="filterModal"
                data-bs-keyboard="false"
                tabindex="-1"
              >
                <div
                  class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
                >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title mb-3 fs-5">Filter</h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="name" class="fw-bold">Type</label>
                        <div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="userType"
                              name="userType"
                              value="Admin"
                              <% if (selectedType.includes("Admin")) { %> checked <% } %> 
                            />
                            <label
                              class="form-check-label"
                              for="admin"
                              class="fw-bold"
                              >Admin</label
                            >
                          </div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="userType"
                              name="userType"
                              value="Member"
                              <% if (selectedType.includes("Member")) { %> checked <% } %> 
                            />
                            <label
                              class="form-check-label"
                              for="member"
                              class="fw-bold"
                              >Member</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="fw-bold">Status</label>
                        <div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="isActive"
                              name="isActive"
                              value="Active"
                              <% if (selectedActive.includes("Active")) { %> checked <% } %> 
                            />
                            <label
                              class="form-check-label"
                              for="admin"
                              class="fw-bold"
                              >Active</label
                            >
                          </div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="isActive"
                              name="isActive"
                              value="Not Active"
                              <% if (selectedActive.includes("Not Active")) { %> checked <% } %> 
                            />
                            <label
                              class="form-check-label"
                              for="Not Active"
                              class="fw-bold"
                              >Not Active</label
                            >
                          </div>
                        </div>
                      </div>

                      
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Back
                        </button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="applyFilters()">Apply</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="input-group-append">
              <button
                class="btn btn-secondary mx-2 rounded bi bi-filter mb-auto"
                data-bs-toggle="modal"
                data-bs-target="#filterModal"
              ></button>
            </div>
          </div>

          <!-- Table of data -->
          <table
            class="table table-bordered"
            style="vertical-align: middle"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <% if(users.length > 0){ %>
            <thead class="thead-dark">
              <tr class="text-center">
                <th>No</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Status</th>
                <th>Type</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i = 0; i < users.length; i++){ %>
              <tr>
                <td class="text-center"><%= i +1 %></td>
                <td><%= users[i].name %></td>
                <td><%= users[i].address %></td>
                <td><%= users[i].phone %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].isActive%></td>
                <td><%= users[i].userType %></td>
                <td><%= users[i].username%></td>
              </tr>
              <% } %> <% } else { %>
              <h6 class="px-6 py-4 text-center">Data not found</h6>
              <% } %>
            </tbody>
          </table>
        </div>
      </main>
    </div>
    <%- include('../partials/js.ejs') %>

    <script>
        function applyFilters() {
        const selectedUserType = Array.from(document.querySelectorAll('input[name="userType"]:checked')).map(checkbox => checkbox.value);
        }
    </script>
  </body>
</html>
