<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs', { title }) %>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
</head>

<body>
  <div class="d-flex">
    <%- include('../partials/sidebar.ejs', { userType }) %>
    <main class="d-flex flex-column align-items-center" style="width: 100%">
      <h1 class="fw-bold my-3"><%= title %></h1>
      <div class="table-container" style="width: 80%">
        <!-- Alert -->
        <div class="col-auto col-lg-12 mt-2">
          <% if (typeof alertMessage !== 'undefined' && typeof alertStatus !== 'undefined') { %>
            <div class="alert alert-<%= alertStatus %>">
              <%= alertMessage %>
            </div>
          <% } %>
        </div>
        
          <!-- Search Bar -->
          <div class="input-group mb-2 justify-content-between">
            <section class="my-2 mr-auto">
              <h5 class="bg-success px-1 py-1 d-inline-block rounded text-white text-2xs">Count: <%= users.length %></h5>
            </section>
            <form action="/report/users" method="post">
              <div class="input-group mx-2">
                <input type="search" name="search" class="form-control rounded-start" style="width: 300px;" placeholder="Search name in here...">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search "></i> Search</button>
              </div>
            </form>
            <form action="/filter" method="post">
              <div class="input-group">
                <button type="submit" class="btn btn-primary"><i class="bi bi-filter"></i></button>
              </div>
            </form>
          </div>
          
        <!-- Table of data -->
        <table
          class="table table-bordered"
          style="vertical-align: middle"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
        <% if(users.length > 0){ %>
          <thead class="table-dark">
            <tr class="text-center">
              <th>No</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Status</th>
              <th>Type</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < users.length; i++){ %>
            <tr>
              <td class="text-center"><%= i +1 %></td>
              <td><%= users[i].name %></td>
              <td><%= users[i].address %></td>
              <td><%= users[i].phone %></td>
              <td><%= users[i].email %></td>
              <td><%= users[i].isActive%></td>
              <td><%= users[i].userType %></td>
              <td><%= users[i].username%></td>
            </tr>
            <% } %>
            <% } else { %>
                <h6 class="px-6 py-4 text-center">Data not found</h6>
              <% } %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
<%- include('../partials/js.ejs') %>
</body>

</html>
