
<div
  class="modal fade"
  id="edit-modal-<%= user._id %>"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/users/<%= user._id %>?_method=PUT" method="POST">
        <div class="modal-body text-left">
            <div class="form-group">
              <label for="name" class="fw-bold">Name</label>
              <input
                value="<%= user.name%>"
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter Name"
                required
              />
            </div>
            <div class="form-group">
              <label for="name" class="fw-bold">Address</label>
              <input
                value = "<%= user.address%>"
                type="text"
                class="form-control"
                id="address"
                name="address"
                placeholder="Enter Address"
                required
              />
            </div>
            <div class="form-group">
              <label for="name" class="fw-bold">Phone</label>
              <input
                value = "<%= user.phone%>"
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                placeholder="Enter Phone"
                required
              />
            </div>
            <div class="form-group">
              <label for="name" class="fw-bold">Email</label>
              <input
                value = "<%= user.email%>"
                type="text"
                class="form-control"
                id="email"
                placeholder="Masukan Email"
                name="Email"
                required
              />
            </div>
            <div>
              <input type="radio" id="active" name="isActive" value="Active" <%= typeof isActive!= 'undefined' && isActive === 'Active' ? 'checked' : '' %> />
              <label for="active" class="fw-bold">Active</label>
              <input type="radio" id="not-active" name="isActive" value="Not Active" <%= typeof isActive != 'undefined' && isActive=== 'Not Active' ? 'checked' : '' %> />
              <label for="not-active" class="fw-bold">Not Active</label><br />
            </div>
            <div>
              <input type="radio" id="admin" name="userType" value="Admin" <%= typeof userType != 'undefined' && userType === 'Admin' ? 'checked' : '' %> />
              <label for="admin" class="fw-bold">Admin</label>
              <input type="radio" id="member" name="userType" value="Member" <%= typeof userType != 'undefined' && userType === 'Member' ? 'checked' : '' %> />
              <label for="member" class="fw-bold">Member</label><br />
            </div>
            <div class="form-group">
              <label for="name" class="fw-bold">Username</label>
              <input
                value = "<%= user.username%>"
                type="text"
                class="form-control"
                id="username"
                placeholder="Masukan Username"
                name="username"
                required
              />
            </div>
            <div class="form-group">
            <label for="name" class="fw-bold">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Masukan Password"
              name="password"
              required
            />
            </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>