<div
  class="modal fade"
  id="edit-modal-<%= transaction._id %>"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Transaction</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/transactions/<%= transaction._id %>?_method=PUT"
        method="POST"
      >
        <div class="modal-body text-left">
          <div class="form-group">
            <label for="admin">Admin</label>
            <select name="adminId" class="form-select">
              <% users.forEach((user) => { if (user.userType === 'Admin') { %>
              <option value="<%= user._id %>"><%= user.name %></option>
              <% } }); %>
            </select>
          </div>
          <div class="form-group">
            <label for="member">Member</label>
            <select name="memberId" class="form-select">
              <% users.forEach((user) => { if (user.userType === 'Member') { %>
              <option value="<%= user._id %>"><%= user.name %></option>
              <% } }); %>
            </select>
          </div>
          <div id="details-container">
            <div id="detail-1">
              <div class="form-group">
                <label for="book">Book</label>
                <select name="bookId" class="form-select">
                  <% books.forEach((book) => { %>
                  <option value="<%= book._id %>"><%= book.title %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="title">Quantity</label>
                <input type="number" class="form-control" name="quantity" placeholder="Enter Quantity" required />
              </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="addTransactionDetail1('#edit-modal-<%= transaction._id %>')">Add Another Book</button>
            <button type="button" class="btn btn-primary" onclick="removeTransactionDetail1('#detail-1')">Remove Details</button>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id" />
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const addTransactionDetail1 = (modalId) => {
    const detailsContainer = $(modalId).find("#details-container");
    const detailId = detailsContainer.children().length + 1;

    const detailHtml = `
      <div id="detail-${detailId}">
        <div class="form-group">
          <label for="book">Book</label>
          <select name="bookId" class="form-select">
            <% books.forEach((book) => { %>
            <option value="<%= book._id %>"><%= book.title %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label for="title">Quantity</label>
          <input type="number" class="form-control" name="quantity" placeholder="Enter Quantity" required />
        </div>
        <button type="button" class="btn btn-primary" onclick="addTransactionDetail1('${modalId}')">Add Another Book</button>
        <button type="button" class="btn btn-primary" onclick="removeTransactionDetail1('#detail-${detailId}')">Remove Details</button>
      </div>
    `;
    detailsContainer.append(detailHtml);
  }

  const removeTransactionDetail1 = (id) => $(id).remove();
</script>

